body{
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#generatore{
    height: 60px;
    width: 90px;
    border-radius: 12px;
}
